// $color:red;
// $color2:blue;
// $color3:yellow;

// $medidas:200px;
// ==========

// Medidas
$full: 100%;
$mid-width: 50%;

// Colores
$principal: #EA4748;
$blanco: #FFFFFF;
$claro: #E7E6E6;
$transp: rgba(0,0,0,0.6);
//fuentes
$fuente: 'MerriweatherSans';
$text: #696969;
$gruesa: bolder;

@mixin textos {
	color: $blanco;
	background-color: $principal;
}
@mixin links {
	text-decoration: none;
	color: $blanco;
	font-weight: $gruesa;
}
@mixin titulos {
	color: $text;
	font-size: 1.1em;
	letter-spacing: -1px;
	font-weight: $gruesa;	
}
